@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

html {
    height: 100%;
    overflow: hidden;
    background-color: #000000;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg fill-opacity='0.2'%3E%3Cpolygon fill='%2327002b' points='1600 160 0 460 0 350 1600 50'/%3E%3Cpolygon fill='%234e0056' points='1600 260 0 560 0 450 1600 150'/%3E%3Cpolygon fill='%23740181' points='1600 360 0 660 0 550 1600 250'/%3E%3Cpolygon fill='%239b01ac' points='1600 460 0 760 0 650 1600 350'/%3E%3Cpolygon fill='%23C201D7' points='1600 800 0 800 0 750 1600 450'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
}

#title {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: absolute;
    top: 8%;
    left: 0;
    right: 0;
    color: #fff;
    text-align: center;
    font-weight: 300;
    font-size: 40px;
    letter-spacing: 5px;
    margin-top: -60px;
    padding-left: 10px;
}

#title span {
    background: -webkit-linear-gradient(white, #7403d1);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.debloater {
    background-color: linear-gradient(#611c7c, #6200ff);
    border: none;
    color: black;
    padding: 12px 30px;
    cursor: pointer;
    font-size: 20px;
}
