@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

html {
    height: 100%;
    overflow: hidden;
    background: radial-gradient(ellipse at bottom, #1b2735 0%,#090a0f 100%);
}

#title {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: absolute;
    top: 8%;
    left: 0;
    right: 0;
    color: #fff;
    text-align: center;
    font-weight: 300;
    font-size: 40px;
    letter-spacing: 5px;
    margin-top: -60px;
    padding-left: 10px;
}

#title span {
    background: -webkit-linear-gradient(white, #38495a);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.debloater {
    background-color: linear-gradient(#73808d, #38495a);
    border: none;
    color: black;
    padding: 12px 30px;
    cursor: pointer;
    font-size: 20px;
}

@keyframes blink {
    0% {opacity: 1;}
    40% {opacity: 1;}
    60% {opacity: 0;}
    100% {opacity: 0;}
}

.blink { 
    animation: blink .5s linear infinite alternate;
  }